{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "login_title" %}{% endblock %}
{% block styles %}
    <link href="{% static "css/login.css" %}" rel="stylesheet" media="screen">
{% endblock %}
{% block body %}
    <div class="container login-container">
      <div class="panel panel-default">
	<div class="panel-heading">
	  <div class="panel-title">
	    {% trans "login_init_session" %}
	  </div>
	</div>
	<div class="panel-body">
	  <!-- Form -->
	  <form method="post" action="{% url 'django.contrib.auth.views.login' %}" role="form">
	    {% if form.errors %}
	    <div class="form-group">
	      <p class="alert alert-danger">
		{% trans "login_error" %}
	      </p>
	    </div>
	    {% endif %}
	    <div class="form-group">
	      <label for="id_username">{% trans "login_username" %}</label>
	      <input type="text" class="form-control" id="id_username" name="username" autofocus />
	    </div>
	    <div class="form-group">
	      <label for="id_password">{% trans "login_password" %}</label>
	      <input type="password" class="form-control" id="id_password" name="password" />
	    </div>
	    <div class="form-group">
	      <input type="checkbox" id="id_rememberme" name="rememberme" />
	      <label for="id_rememberme">{% trans "login_remember_me" %}</label>
	    </div>
	    <div class="text-center">
	      <button class="btn btn-primary" type="submit">{% trans "login_submit" %}</button>
	    </div>
	    <input type="hidden" name="next" value="{{ next }}" />
	    {% csrf_token %}
	  </form>
	  <!-- End form -->
	</div>
      </div>
    </div>
{% endblock %}
