{% extends "base.html" %}
{% load staticfiles %}
{% block styles %}
<link href="{% static "css/tree.css" %}" rel="stylesheet" media="screen">
{% endblock %}
{% block body %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Cuentas</div>
    <div class="panel-body">
      <ul>
	{% for account in object_list %}
	  {% if account.account_type == 'ROOT' %}
	    <div class="tree well">
              {% with account=account template_name="accountancy/account_tree.html" %}
                {% include template_name %}
              {% endwith %}
	    </div>
	  {% endif %}
	{% empty %}
	<li>No accounts yet.</li>
	{% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
